* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

ul,
li {
  list-style-type: none;
}

a {
  text-decoration: none;
  cursor: pointer;
}

button,
input {
  border: none;
}
.container {
  max-width: 1150px;
  padding: 0 20px;
  margin: 0 auto;
  width: 100%;
}
